.searchbar {
  margin-bottom: 30px;
}

.search {
  width: 625px;
  height: 30px;
  /* margin-left: 25px; */
}

.searchbtn {
  background-color: rgba(0, 116, 236, 0.929412);
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 20px;
  height: 30px;
}
