.pokemon-card {
  border: 1px solid black;
  display: inline-grid;
  grid-template-areas: "image text";
  grid-template-columns: 60px auto;
  width: 300px;
  border-radius: 5px;
  margin: 10px;
}

.pokemon-image {
  grid-area: image;
  height: 50px;
}

.pokemon-text {
  grid-area: text;
  margin: 0;
}
